* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    max-width: 1920px;
    margin: 0;
    color: black;
    background-color: #ececec;

}

/* Inicio da seção Titulo logo + Menu */

header {
    background-color: rgb(43, 43, 43);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

header h1{
    color: rgb(194, 163, 78);
    font-size: 2.5rem;

}

header span{
    color: rgb(190, 190, 190);
}

header .navegacao-primaria{
    display: flex;
    gap: 10px;
    align-items: center;
}


header .navegacao-primaria li a{
    background-color: rgba(65, 64, 63, 0.425);
    border-radius: 3px;
    padding: 10px;
    color: rgba(233, 232, 224, 0.829);
    font-size: 1.3rem; 
}

/* Fim da seção Titulo logo + Menu */


/* Inicio Seção de apresentação + CV */

.section-div{
    animation: inicializar .7s forwards;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    padding: 60px;
    color: rgb(10, 10, 10);
    background-color: #ececec;
}

.section-div div{
    margin-top: 100px;
    max-width: 200%;
    align-self: flex-start;
    display: grid;
    gap: 35px;
    align-items: center;
    margin: 113px;
    padding: 125px;
}

.section-div div h2{
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
    color: rgb(26, 26, 26);
    font-size: 40px;
}

.section-div div p{
    font-family:'Times New Roman', Times, serif;
    font-weight: 300;
    color: rgb(10, 10, 10);
    font-size: 18px;
}


.section-div div a{
    justify-self: start;
    color: rgb(0, 0, 0);
    padding: 15px 40px;
    border-radius: 5px;
    border: 2px solid rgb(104, 103, 103);
}

.section-div img{
    max-width: 50%;
}

.digitando::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .5s infinite;
}

@keyframes pisca{
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


@keyframes inicializar{
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
/* Fim Seção de apresentação + CV */

/* Inicio Seção Geral - conteúdo do menu */

main{
    background-color: #ececec;
    border-color: #ececec;
    border-radius: 5px;
    mask-position: 0%;
    position: Right;
    align-items: center;

}

/* Fim Seção Geral - conteúdo do menu */



/* Seções de conteudo Individual*/

.Sobremim {
   margin: 150px;
   padding: 50px;
   color: #fdfdfd;
   background-color: rgb(73, 73, 73);
   border-radius: 31px;
}

.Habilidade{
    background-color: rgb(73, 73, 73);
    color: #fdfdfd;
    margin: 150px;
    padding: 50px;
    align-items: center;
    border-radius: 31px;
}

.Projeto{
    background-color: rgb(73, 73, 73);
    color: #fdfdfd;
    margin: 150px;
    padding: 50px;
    align-items: center;
    border-radius: 31px;
}

.Contato{
    background-color: rgb(73, 73, 73);
    color: #fdfdfd;
    margin: 150px;
    padding: 50px;
    align-items: center;
    border-radius: 31px;
}

.MenuSobre{
    background-color: rgb(73, 73, 73);
    color: #d3d3d3;
    stop-color: beige;
    margin: 1px;
    padding: 5px;
    text-align: center;
    position: static;
    border-radius: 31px;
    justify-content: space-around;
    margin-top: 20PX;
    opacity: 0.1;
    text-align: justify;
}

.eu{
    background-color: rgb(73, 73, 73);
    color: #fdfdfd;
    stop-color: beige;
    margin: 150px;
    padding: 50px;
    align-items: center;
    border-radius: 31px;
    align-items: center;
    margin-right: 50px;
    margin-left: 500px;
    box-sizing: border-box;
    max-width: 50%;


}

.navegacao-MenuSobre{
    margin-top: 50px;
    color: rgba(116, 115, 111, 0.829);
    background-color: #ececec;
    border-radius: 30px;
    padding: 10px;
    font-size: 1.7rem;
    text-align: center;
    text-align: justify;
}

.conteudotexto{
    text-align: justify;
}

.titulo_topicos{
    
    align-items: center;
    margin-right: 25px;
    text-align: center;
    color: bisque;
}